* {
	margin: 0;
	padding : 0;
}

.flex-container {
    margin-top: 10px;
}

img.describe-book {
	width: 250px;
    height: 250px;
}


button.button-page {
    margin-right: 2em;
    width: 5.5em;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #007ff0;
    color: white;
}

button.button-page:hover {
    border: 1px solid gray;
    background: lightblue;
}

button.button-page:focus {
    border: 1px solid gray;
	outline: none;
	background: lightblue;
}
.one-row {
	margin: auto;
	display: flex;
	width: 60%;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 10px;
	justify-content: flex-start;
}
.one-box {
	margin-bottom: 15px;
	margin-right: 25px;
}
.one-box:hover {
	box-shadow: 0px 0px 5px 0px #787878
}
.pagination {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}
.navigator {
	margin-top: 20px;
}
.title , .author , .navigator{
	text-align: center;
}
.add-new-book {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: .5;
}
  
.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	}

.modal {
	z-index: 100;
	background: white;
	position: relative;
	margin: 1.75rem auto;
	border-radius: 3px;
	max-width: 500px;
	padding: 2rem;
}

.modal-header {
	display: flex;
	justify-content: flex-end;
}

.modal-close-button {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	opacity: .3;
	cursor: pointer;
	border: none;
}



.button-default {
background: #247BA0;
color: #fff;
}
input.input-title {
    margin-left: 19px;
    width: 50%;
}
input.input-author {
	width: 50%;
	margin-bottom: 15px;
	margin-top: 15px;
}